PracticoTSI1/PresentationLayerWinform/Service References/ServiceEmployees/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8834/tsi1/?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8834/tsi1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8834/tsi1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEmployees_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_CalcPartTimeEmployeeSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcPartTimeEmployeeSalary" />
  </wsdl:message>
  <wsdl:message name="IServiceEmployees_CalcPartTimeEmployeeSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcPartTimeEmployeeSalaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEmployees">
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/AddEmployee" message="tns:IServiceEmployees_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/AddEmployeeResponse" message="tns:IServiceEmployees_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/DeleteEmployee" message="tns:IServiceEmployees_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/DeleteEmployeeResponse" message="tns:IServiceEmployees_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/UpdateEmployee" message="tns:IServiceEmployees_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/UpdateEmployeeResponse" message="tns:IServiceEmployees_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/GetAllEmployees" message="tns:IServiceEmployees_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/GetAllEmployeesResponse" message="tns:IServiceEmployees_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/GetEmployee" message="tns:IServiceEmployees_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/GetEmployeeResponse" message="tns:IServiceEmployees_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcPartTimeEmployeeSalary">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/CalcPartTimeEmployeeSalary" message="tns:IServiceEmployees_CalcPartTimeEmployeeSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IServiceEmployees/CalcPartTimeEmployeeSalaryResponse" message="tns:IServiceEmployees_CalcPartTimeEmployeeSalary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>